* {
    margin: 0;
    padding: 0;
}

.clock-block {
    margin: 100px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
}

.clock {
    font-size: 40px;
}

.stop {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

.start {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}